@import "@/styles/_helpers.scss";

.issue {
  animation: fadeIn 500ms;
}

.title {
  overflow: hidden;
  white-space: nowrap;
  max-width: 700px;
  text-overflow: ellipsis;

  @include breakpoint("laptop") {
    max-width: 560px;
  }

  @include breakpoint("tablet") {
    max-width: 260px;
  }

  @include breakpoint("mobile") {
    max-width: 100px;
  }
}
